<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <title>Custom Font Demo</title>
    <style>
        body {
            text-align: center;
            font-size: 36px;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div style="font-family: 'CustomFont', sans-serif;">שלום</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.7/sjcl.min.js"></script>
<script src="{{ url_for('serve_static', filename='decrypt.js') }}"></script>



</html>